WEB_PORT=8080
UMAMI_PORT=3001

POSTGRES_USER=semhas
POSTGRES_PASSWORD=change-this-strong-password
POSTGRES_DB=semhas

SEMHAS_ONLINE=false
ZOOM_LINK=
LAPORAN_UNLOCKED=false

UMAMI_DB_PASSWORD=change-this-umami-db-password
UMAMI_APP_SECRET=change-this-random-secret
UMAMI_SRC=
UMAMI_WEBSITE_ID=
